<style>
body {
    font: 400 15px Lato, Microsoft JhengHei;
    line-height: 1.8;
    color: #818181;
    overflow-x: hidden;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h3 {
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
p{
  font-size:20px;
  line-height: 1.5;

}
.container{
  padding-right: 0%;
  padding-left: 0%;
  margin-right: auto;
  margin-left: auto;
}
.img-thumbnail {
    padding: 0 0 10px 0;
    border: 2px;
    border-radius: 10px;
    max-width:  500px;
    max-height: 500px;
}
.img-tab{
  max-width: 400px;
  max-height: 400px;
}
.navbar {
    margin-bottom: 0;
    background-color: #FEFCAD;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #92977E !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #276893 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
html {
  height:100%;
}
#footer h3{
  color:#ffffff;
}
#footer{
  background-color: #778899;
  color: #fff !important;
  display:block;
}
.row{
  padding:0% 2% 0% 2%;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
</style>
